*{
    box-sizing: border-box;
}

body {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}


/*navbar*/
#navbar {
    height: 96px;
    width: 100%;
    border: 1px solid #979797;
    background-color: #FFFFFF;
}
#navbar ul{
    margin-left: 72px;
    margin-right: 72px;
    padding: 0;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    /* position: absolute; */
}


/*#navbar - title*/
#navbar .title {
    height: 31px;
    /* width: 87px; */
    /* left: 72px; */
    margin-top: 33px;
    margin-bottom: 32px;
    margin-right: 0;
}
#navbar .title a{
    text-decoration: none;
    color: #000000;
    font-family: 'Gothic';
    font-size: 25px;
    font-weight: 900;
    line-height: 31px;
    text-align: center;
}


/*#navbar - story*/
#navbar .story {
    height: 24px;
	width: 58px;
    left: 439px;
    margin-top: 36px;
    margin-bottom: 36px;
}
#navbar .story a{
    text-decoration: none;
	color: #000000;
	font-family: 'NanumGothic';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}


/*#navbar - howtouse*/
#navbar .howtouse {
    height: 24px;
	width: 58px;
    /* left: 778px; */
    margin-top: 36px;
    margin-bottom: 36px;
}
#navbar .howtouse a{
    text-decoration: none;
	color: #000000;
	font-family: 'NanumGothic';
	font-size: 20px;
	line-height: 24px;
}

#navbar .profileAndCartAndLogin{
    display: flex;
    justify-content: flex-end !important;
}

/*#navbar - profile*/
#navbar #profile {
    /* left: 1094px; */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 72px;

}


/*#navbar - cart*/
#navbar #cart {
    /* left: 1154px; */
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 72px;
}


/*#navbar - login*/
#navbar .login-form {
    /* right: 72px; */
    margin-top: 25px;
    margin-bottom: 25px;
}
#navbar .login-form .login_signup-btn {
    font-size: 20px;    
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    width: 160px;
    height: 46px;
    border: 1px solid #979797;
    text-align: center;
    border-radius: 23px;
    font-family: 'NanumGothic';
    font-weight: 800;
    line-height: 24px;
  }


/*hero-header*/
.hero-header {
    /* margin-top: 96px; */
    height: 600px;
    width: 100%;

    background-image: url("../assets/pizza.jpeg");
    background-size: cover;
    background-position: center center;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-header .info {
	height: 208px;
	width: 784px;
	color: rgb(230, 103, 0);
	font-family: Typo_Deco;
	font-size: 200px;
	line-height: 200px;
    text-align: center;
    /* font-weight: 400; */
}

.wheretogo {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 104px;
    width: 100%;
    color: #FE8A00;
    font-family: Typo_Deco;
    font-size: 100px;
    line-height: 104px;
    text-align: center;
}

/*search-by-char*/
.search-by-char {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 1060px;

    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
}
.search-by-char .char {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 72px;
    border: 1px solid #FE8A00;
}
.search-by-char .char a {
    font-family: 'NanumGothic';
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-decoration: none; 
    color: #FE8A00;
}



/*UNIVERSITIES*/
.universities{
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 337px;
    position: relative;
    width: 1072px;
    height: 2048px;
    display: flex;

}
.universities .region{
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 0;
    padding: 0;
}

.universities .region a{
    text-decoration: none;
    color: #c0c0c0;
    font-family: 'NanumGothic';
    font-size: 70px;
    font-weight: 600;
    line-height: 84px;
}

.universities .region .region-detail.active{
    background: #FFFFFF;
    border-right: none;
    color: #000000;
    font-size: 70px;
}


.universities .region .region-detail{
    font-size: 70px !important;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    /* border-right: 1px solid #E5E5E5; */
    /* display: inline-block; */
    font-size: 1.5rem;
    font-weight: bold;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.universities .region-alluniv{
    width: 676px;
}

.universities .region-alluniv .region-univ{
    width: 676px;
    /* margin-left: 150px; */
    margin-right: 0;
    /* position: relative; */
    /* top: 0; */
    background: #FFFFFF;
    color: #2e2e2e;
    /* display: inline-block; */
    /* font-size: 1.5rem; */
    /* width: 100%; */
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

}
.universities .region-univ .region-univ-detail{
    height: 128px;
    width: auto;
    display: flex;
    align-items: center;
}
.universities .region-univ .region-univ-detail .univ-logo{
    margin: 0;
    padding: 0;
    width: 60px; 
    height: 60px;
    margin-right: 42px;
    margin-left: 150px;
}

.universities .region-univ .region-univ-detail .univ-name{
    /* position: absolute; */
    text-decoration: none;
    color: #000000;
    font-family: 'NanumGothic';
    font-size: 40px;
    font-weight: 800;
    /* line-height: 48px; */
}




/*footer*/
footer{
    width: 100%;
    height: 472px;
    background-color: rgba(254, 138, 0, 0.7);
    padding: 108px 0 0 0;

    font-family: 'NanumGothic';
    /* display: block; */
    line-height: 1.15;
}

footer .container{
    /* display: block; */
    line-height: 1.15;
    margin-left: auto;
    margin-right: auto;

}


footer .container .main_footer_header .ng-tns-c2-1{
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    width: 100%;

    margin: 0;
}

footer .container .main_footer_content{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .container .main_footer_content .column{
    height: 120px;
}

footer .container .main_footer_content .column h1{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 12px;
    width: 200px;
    margin: 0;
}

footer .container .main_footer_content .content{
    display: flex;
    flex-direction: row;
    margin: 0;

}

footer .container .main_footer_content .column p{
    font-size: 30px;
    color: #ffffff;
    margin-right: 10px;
    /* width: auto; */
}

.footer[_ngcontent-c2] .container .column[_ngcontent-c2] .content[_ngcontent-c2] p[_ngcontent-c2]:last-child {
    margin-right: 0;
}